extends ../../common/templates/layout/base

block intro
	.page-header
		.container
			h1 示例
			p.lead 下面这些例子很好地展示了Keystone的能力，以及如何使用它的各种功能。
	
block content
	.container-sm(style='margin-bottom: 3em;')
		
		a(name='app')
		h2 应用程序

		a(name='app-demo')
		h3 演示App
		
		p 演示app是个简单实现，演示了如何创建一个博客、照片库和联系表单，以及如何设置会话管理、错误处理和csv下载。
		p 你还可以用demo账号登录到Keystone管理界面中看看它是如何工作的。
		ul.list-inline
			li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo website').btn.btn-primary 打开网站
			li: a(href='http://github.com/JedWatson/keystone-demo', target='_blank', title='View on GitHub').btn.btn-default 查看GitHub项目
		
		a(name='app-sydjs')
		h3 SydJS网站
		
		p <a href='http://www.thinkmill.com.au/' target='_blank'>Thinkmill</a>的团队用Keystone为SydJS（悉尼Javascript聚会）创建了一个新网站。
		p 它是一个聚会、会员、链接、博客、组织和教练的数据库，还支持创建账号，以及用Facebook、Twitter和GitHub账号登录。
		p 它还包含新的客户端内容管理功能，有供会员管理自己档案、响应聚会和提交文章和链接的页面。
		ul.list-inline
			li: a(href='http://www.sydjs.com', target='_blank', title='Demo website').btn.btn-primary 打开网站
			li: a(href='http://github.com/JedWatson/sydjs-site', target='_blank', title='View on GitHub').btn.btn-default 查看GitHub项目
		
		a(name='production')
		h2 用于生产中的KeystoneJS

		p 在生产环境中由KeystoneJS支撑的网站和应用程序越来越多 - 这里有几个我们比较喜欢的。
		p 你启用了使用KeystoneJS的网站吗？告诉我们吧！ Tweet 
			a(href='https://twitter.com/KeystoneJS', target='_blank') @KeystoneJS

		h3 制作 &amp; 构建
		p 制作 &amp; 构建是佐治亚州亚特兰大的一个数字工匠团队，他们把自己从Wordpress迁移到KeystoneJS的经历放到了 
			a(href='https://s3.amazonaws.com/mnb_keystone/slidedecks/keystonejs.pdf', target='_blank', title="Make & Build Transition to KeystoneJS Slidedeck") 这里
			| .
		ul.list-inline
			li: a(href='http://makeandbuild.com', target='_blank', title="Make & Build").btn.btn-primary 打开网站

		h3 Macmillan Connect
		p KeystoneJS助力Macmillan Education的新一代教育软件，为教师们提供他们的授权系统、后端API、进度同步和标记簿生成。
		ul.list-inline
			li: a(href='http://www.macmillanconnect.com.au', target='_blank', title="Macmillan Connect").btn.btn-primary Launch the site
		
		h3 澳洲瑜伽
		p 澳洲瑜伽教师协会的网站和后台管理系统是用KeystoneJS做的。
		ul.list-inline
			li: a(href='http://www.yogaaustralia.org.au', target='_blank', title="Yoga Australia").btn.btn-primary 打开网站
		
		h3 西装店
		p 在西装店网站那美丽的设计、动态内容、预约功能和客户区后面，是KeystoneJS。
		ul.list-inline
			li: a(href='http://www.suitshop.com.au', target='_blank', title="Suit Shop").btn.btn-primary 打开网站

		h3 Tim Pietrusky
		p Tim为自己的博客创建了独特的样式，还有精彩的内容。他将自己迁移到KeystoneJS上的经验写进了 
			a(href='http://timpietrusky.com/restart') 这篇文章
			| 。
		ul.list-inline
			li: a(href='http://timpietrusky.com', target='_blank', title="Tim Pietrusky").btn.btn-primary 打开网站
		
		h3 ExhibitionsRUs
		p The ExhibitionsRUs网站是英国一家电子商务网站，有产品目录和购物车，由<a href="http://prowebsoftware.net" target="_blank">ProWebSoftware</a> 用 KeystoneJS 搭建。
		ul.list-inline
			li: a(href='https://www.exhibitionsrus.co.uk', target='_blank', title="ExhibitionsRUs").btn.btn-primary 打开网站

		h3 Hood (Social Network)
		p 创建这个站点的初衷是将那些具有乐观精神的、心地善良的好人用每种可能的方式连接起来。
		ul.list-inline
			li: a(href='http://www.hood.rs/', target='_blank', title='Hood.rs').btn.btn-primary 打开网站
		
		h3 CorkDev.io (Tech Meetup)
		p corkdev.io是一个开放论坛，聚集了爱尔兰科克城的专业人士、黑客、架构师和软件工程师们。
		ul.list-inline
			li: a(href='http://corkdev.io/', target='_blank', title='CorkDev.io').btn.btn-primary 打开网站
		
		h3 费城的高中黑客们
		p 位于费城的高中黑客聚会小组把SydJS改造成了他们自己的网站，做得很棒。
		ul.list-inline
			li: a(href='http://hshackers.org', target='_blank', title='HS Hackers Philly').btn.btn-primary 打开网站
