include ../../templates/mixins/docsnav

block intro
	.page-header
		.container
			h1 Learn
			p.lead articles, examples and resources to help you use Keystone
	
block content
	.container: .row
		
		.col-sm-3
			+docsnav(docssection)
		
		.col-sm-9: .docs-content
			p.lead Articles, code examples and more resources
			.row
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/docs/learn/es6') ES6 & System.js
							p We converted this site to use <a href="https://github.com/systemjs/systemjs" target="_blank">System.js</a>, <a href="http://babeljs.io" target="_blank">Babel</a> and <a href="https://facebook.github.io/react/" target="_blank">React</a>
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/docs/learn/heroku') Heroku deployment
							p Learn how to deploy your app to Heroku.
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/docs/learn/code') Code Examples
							p View code examples for Email, socket.io support and more.

			.row
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4: a(href='/docs/learn/resources') Resources
							p Goodies about everything from MongoDB, mongoose, React, System.js, Keystone and more.
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
				.col-sm-12.col-md-4
					.feature-panel
						.feature-content
							h4 Reference Materials
							p: a(href='/docs/learn/reference/readme') README  
							p: a(href='/docs/learn/reference/roadmap') ROADMAP   
							p: a(href='/docs/learn/reference/history') HISTORY   
							p: a(href='/docs/learn/reference/contributing') CONTRIBUTING
