include ../../../templates/mixins/docsnav

block intro
	.page-header
		.container
			h1 Code Examples
			p.lead Learn how to use KeystoneJS.
	
block content
	.container: .row
		
		.col-sm-3
			+docsnav(docssection)
		
		.col-sm-9: .docs-content
			ul
				h3: a(href='/fetch') Fetch Examples
				p: a(href="/fetch") noscript
				p: a(href="/body") body noscript
				p: a(href="/text") clean text
				p: a(href="/json/code") json code
				p: a(href="/markdown") markdown 
				p: a(href="/fail") failure 
				p: a(href="/lost-link") should 404  
				p: a(href="/quick-start").notspa should reload
				p: a(href="https://github.com/snowkeeper/keystonejs-site/blob/qstart/content/en/pages/docs/getting-started.jade") should leave
