.contextual-note
	h4 Note
	p This section is a complete react page that uses fetch to render the content.  This home page is a jade file.  The others a noted by their name. 
	

h3: a(href='/fetch') Fetch Examples
p: a(href="/fetch/noscript") noscript
p: a(href="/fetch/body") body noscript
p: a(href="/fetch/text") clean text
p: a(href="/fetch/json/code") json code
p: a(href="/fetch/markdown") markdown 
p: a(href="/fetch/fail") failure 
p: a(href="/fetch/lost-link") should 404  
p: a(href="/docs/learn").notspa should reload
p: a(href="https://github.com/snowkeeper/keystonejs-site/blob/qstart/content/en/pages/docs/getting-started.jade") should leave


